<div class="content-wrapper">
  <mat-card>
    <mat-card-title>Carregar Mensagens</mat-card-title>
    <div class="row" #fileInput>
      <input id="fileInput" name="file" type="file" style="display:none" (change)="onFileSelect($event)" />
      <label class="button" for="fileInput" #loader>Carregar</label>
    </div>
  </mat-card>
</div>
