<section class="container">
  <div class="left-side"></div>
  <div class="right-side">
    <div class="login-container">
      <h3>Login GYM 2020 Backoffice</h3>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [(ngModel)]="creds.email" (keyup.enter)="login()"/>
        <span matSuffix>@</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Palavra passe" [(ngModel)]="creds.password" (keyup.enter)="login()"/>
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
      <button class="button" (click)="login()">Entrar</button>
    </div>
  </div>
</section>
