@import "../../theme-styles.scss";

section {
  height: 100%;
}

.container {
  display: flex;
}

.left-side {
  background-color: $th-trq-green;
  flex: 1;
  padding: 1rem;
}

.right-side {
  background-color: $th-white;
  flex: 1;
  padding: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  color:$th-white;
  background: $th-green;
}
