@import "../../../../theme-styles.scss";
@import "../../../../mixins.scss";

.gym-main-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: $th-blue;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  @include mobile-landscape {
    height: 40px;
  }

  .gym-main-footer-partner {
    img {
      padding: 15px 10px;
      width: 220px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
