@import "../../../../theme-styles";
@import "../../../../mouse-animation.scss";

.gym-home-banner {
  display: flex;
  justify-content:space-around;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: $th-black;

  .gym-banner-msg {
    flex-basis: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
  //  margin-left: auto;
  //  margin-right: 200px;
    p,
    h1 {
      font-size: 2.5em;
      text-align: center;
      width: 300px;
      // color: $th-trq-green;
      color: $th-white;
      padding:10px;
      font-weight: normal;
    }
  }

  .scroll-btn{
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    cursor: pointer;
  }
}

.gym-bg {
  background: url($th-welcome-banner-bg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
