@import "../../../../theme-styles.scss";
@import "../../../../mixins.scss";

.gym-side-nav {
  position: absolute;
  z-index: 0;
  top: 50px;
  height: calc(100% - 120px); // 120px = 60px (HEADER) + 60px(FOOTER)
  width:15%;
  min-width:fit-content;
  max-width:30%;
  background: $th-light-grey;
  @include mobile-landscape {
    top: 40px;
  }
  @include desktop {
    top: 60px;
  }



  ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1em;


	  .gym-user-menu {
	    width: 100%;
	    display: flex;
	    padding: 15px;
	    color: $th-white;
	    background: $th-light-grey;
	    i {
	      width: 30px;
	      height: 30px;
	    }
	    p {
	      margin-left: 10px;
	      text-align: left;
	      line-height: 26px;
	      max-width: 150px;
	      max-height: 20px;
	      overflow: hidden;
	      white-space: nowrap;
	      text-overflow: ellipsis;
	    }
	  }
    li {
      padding: 20px;
      height: 30px;
      margin: 5px;
      max-height: 30px;
      line-height: 30px;
      background: $th-light-blue;
      color: $th-white;
      cursor: pointer;
      &:hover {
        background: $th-white;
        color: $th-dark-grey;
      }
    }
  }
}

.closed {
  right: calc(250px + 100vw);
  transition: all 0.5s ease;
}


.first-level {

      z-index: 1000;
  &:hover {
    .second-level {
      pointer-events: initial;
      left: 225px;
      opacity: 1;
      transition: 700ms ease-in-out;
    }

  }

  .second-level {
    z-index: 999;
    position: absolute;
    background: $th-light-blue;
    margin-top: -55px;
    height: auto;
    opacity: 0;
    pointer-events:none;
    left: -500px;
    transition: 700ms ease-in-out;
  }

}

.item-container {
  position: relative;

  &-arrow{
    position: absolute;
    top: 2px;
    right: -20px;
  }
}
