<div class="gym-side-nav" [ngClass]="{'closed': closed}">
  <ul>
    <div class="gym-user-menu">
      <i (click)="logout()" class="material-icons" style="cursor: pointer">power_settings_new</i>
      <p>{{name}}</p>
    </div>

    <li class="first-level">
      <div class="item-container">
        <span>Configurações</span>
        <span class="item-container-arrow">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </div>
      <ul class="second-level">
        <li (click)="navigateTo('i18n-upload')">Carregar Mensagens</li>
        <li (click)="navigateTo('configs')">Configurar Aplicação</li>
      </ul>
    </li>

    <li class="first-level" (click)="navigateTo('push-notification')">Mensagens Push</li>

  </ul>
</div>
