@import '../../../theme-styles.scss';

.page-content-wrapper {
  overflow-y: scroll;
  width: 85%;
  position: absolute;
  right: 0;
  top: 60px; // HEADER HEIGHT
  height: calc(100% - 120px); // 120px = 60px (HEADER) + 60px(FOOTER)
  z-index: 0;
}

.row {
  display: flex;
  align-items: center;
}

:host /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $th-blue;
}
