<div class="page-content-wrapper">
  <router-outlet></router-outlet>
</div>
<app-side-nav></app-side-nav>
<app-main-header></app-main-header>
<app-main-footer></app-main-footer>
<app-loader *ngIf="isLoading"></app-loader>
