@import "../../../../theme-styles.scss";
@import "../../../../mixins.scss";

.gym-main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: $th-blue;
  @include mobile-landscape {
    height: 40px;
  }
  @include desktop {
    height: 60px;
  }

  .gym-logo {
    flex: 1;
    margin-left: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    align-self: left;
    //padding-left: 210px;
    & > img {
      width: 150px;
      @include desktop {
        width: 180px;
      }
      @include mobile-landscape {
        width: 124px;
      }
    }
  }

  .gym-notification {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: $th-white;
    line-height: 60px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .gym-menu-opener {
    color: $th-white;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
