<div class="content-wrapper">
  <mat-card>
    <mat-card-title>Configurar Aplicação</mat-card-title>
    <div class="row">
      <div class="toggle-container">
        <span class="label center">Default Language</span>
        <mat-form-field>
          <mat-select placeholder="Língua" [(value)]="config.defaultLang">
            <mat-option *ngFor="let lang of langs" [value]="lang.locale">{{ lang.description }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="toggle-container">
        <span class="label center">Background Color</span>
        <input class="input" [value]="config.bgColor" [style.background]="config.bgColor" [(colorPicker)]="config.bgColor" />
      </div>
    </div>
    <div class="row">
      <div class="toggle-container">
        <span class="label">Daily Mood ?</span>
        <mat-slide-toggle [(ngModel)]="config.dailyMood">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="toggle-container">
        <span class="label">Categories ?</span>
        <mat-slide-toggle [(ngModel)]="config.categories">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="toggle-container">
        <span class="label">Gamification ?</span>
        <mat-slide-toggle [(ngModel)]="config.gamification">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="toggle-container">
        <span class="label">Recursive Feedback ?</span>
        <mat-slide-toggle [(ngModel)]="config.recursiveFeedback">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <button class="button" (click)="save()">Guardar</button>
    </div>
  </mat-card>
</div>
