@import "../../../theme-styles.scss";

.toggle-container {
  display:flex;
  width: 100%;
}

.label {
  font-size: 1.1rem;
  width: 30%;
}

.input {
  border-radius: 5px;
  border: 2px solid rgb(4, 77, 114);
  padding: 5px;
  font-size: 1rem;
}

.center {
  margin: auto 0;
}
