<div class="content-wrapper">
  <mat-card>
    <mat-card-title>Mensagens Push</mat-card-title>
    <div class="form-container">
      <div class="user-container">
        <mat-form-field class="half-field">
          <mat-select placeholder="Utilizadores" [(ngModel)]="selectedUserToken" [disabled]="sendAll.value">
            <mat-option *ngFor="let user of users" [value]="user.notificationToken">{{ user.fullname }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox style="margin-left:20px;" [formControl]="sendAll">Enviar para todos?</mat-checkbox>
      </div>
      <mat-form-field class="half-field">
        <input matInput type="text" maxlength="50" placeholder="Título" [(ngModel)]="pushMessage.title" />
      </mat-form-field>
      <mat-form-field>
        <input matInput maxlength="150" placeholder="Mensagem" [(ngModel)]="pushMessage.message" />
      </mat-form-field>
      <div class="row">
        <button [disabled]="!pushMessage.title || !pushMessage.message || (!selectedUserToken && !sendAll.value)" class="button" (click)="send()">Enviar</button>
      </div>
    </div>
  </mat-card>
</div>
