@import "../../../theme-styles.scss";

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%
}

.half-field {
  width: 50%!important;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items:center;
}
