@import "mixins.scss";
@import "theme-styles.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* cyrillic-ext */
@font-face {
  font-family: "Regular";
  src: local("Regular"), local("Regular-Regular"),
    url("../src/assets/fonts/Regular-RegularWEB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Regular";
  src: local("Regular"), local("Regular-Regular"),
    url("../src/assets/fonts/Regular-RegularItalicWEB.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Regular";
  src: local("Regular"), local("Regular-Regular"),
    url("../src/assets/fonts/Regular-BoldWEB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Regular";
  src: local("Regular"), local("Regular-Regular"),
    url("../src/assets/fonts/Regular-BoldItalicWEB.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body,
html {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Regular", sans-serif;
  user-select: none;
  font-size: 11px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

.ngx-ellipsis-more {
  font-size: 0.8em;
  color: #fff;
  text-decoration: underline;
}
