///colors
$th-black:#000;
$th-white:#fff;
$th-light-grey:#ccc;
$th-dark-grey:rgb(62, 62, 62);
$th-green: #00C389;
$th-dark-green: rgb(22, 121, 80);
$th-mat-blue: #2196f3;
$th-light-blue: rgb(7, 100, 147);
$th-black-opacity:rgba($color: $th-black, $alpha: 0.5);
$th-white-opac:rgba($color: $th-white, $alpha: 0.5);
$th-trq-green: rgb(0, 175, 65);
$th-lighter-grey: #f2f2f2;
$th-hover-grey: #ddd;
$th-blue: rgb(4, 77, 114);

/// Backgrounds
$th-bottom-banner-bg: '../../../../assets/background-default.svg';
$th-welcome-banner-bg: '../../../../assets/background-default.svg';

///borders
$th-border-radius:5px;

///shadows
$th-box-shadow:1px 1px 1px 1px rgba(0,0,0, 0.5);

.button{
  border: 1px solid $th-white;
  border-radius: $th-border-radius;
  color: $th-white;
  background: $th-blue;
  text-align: center;
  font-size: 0.8em;
  margin-top: 20px;
  padding:10px;
  width: 100px;
  cursor: pointer;

  &:hover{
    opacity: .5;
  }
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.content-wrapper {
  margin: 20px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.row {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0px;
}



